* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --title: #fffcf9;
    --subtitle: #b3b3b3;
    --bg-button: #e9e6e3;
    --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}

.title,
.movie-title {
    color: var(--title);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.button {
    color: black;
    font-weight: bold;
    font-size: 12;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-button);
    transition: all .2s;
}

.button:hover {
    background-color: #c7c5c3;
}

.description,
.movie-description {
    color: var(--title);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(67.08deg, #1E46A3 0%, #000000 48.94%, #C12A23 99.97%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#loadingMovie {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #102d72f8;
}

#spinnerLoading {
    width: 6rem;
    height: 6rem;
}